@media (max-width: 600px) {
    .div-3 {
      flex-direction: column;
    }
  }

.div-1{
    
    padding-bottom: 6px;
    font-size: 15px;
    color: grey;
}
.div-2{
    
    padding-bottom: 17px;
    font-size: 38px;
    font-style: italic;
    color: #223439;
}

.div-3-n{
    padding-top: 5px;
    padding-left: 2.2em;
    padding-right: 2.2em;
    border-top: 0.8px solid #b8b8b979;

    font-size: 17px;
    font-style: italic;
    color: #223439;
}

.div-3-3{
    padding-top: 5px;
    padding-left: 2.2em;
    padding-right: 2.2em;
    border-top: 2.9px solid black;

    font-size: 17px;
    font-style: italic;
    color: #223439;
}


.itemlist{
    background-color: #EBEFF2;
}


.div-4{
   
}

